# Prayas Jadaun
# 2301560025
# MCA-A
# AI & ML

### Managing Nulls with Pandas
In this notebook, we will take a look at some ways to manage nulls using Pandas DataFrames.

For even more details on how to do this, check out the Panda's documentati on..!)

In [1]:
import pandas as pd
from numpy import random

In [2]:
df = pd.read_csv("E:\My Environment\MCA Notes\Assignments\AI & ML Assignments\Assignment(Projects)\Pandas Exercise\iot_example_with_nulls.csv")

#### Data Quality Check

In [3]:
df.head()

,timestamp,username,temperature,heartrate,build,latest,note
0,2017-01-01T12:00:23,michaelsmith,12.0,67,4e6a7805-8faa-2768-6ef6-eb3198b483ac,0.0,interval
1,2017-01-01T12:01:09,kharrison,6.0,78,7256b7b0-e502-f576-62ec-ed73533c9c84,0.0,wake
2,2017-01-01T12:01:34,smithadam,5.0,89,9226c94b-bb4b-a6c8-8e02-cb42b53e9c90,0.0,NaN
3,2017-01-01T12:02:09,eddierodriguez,28.0,76,NaN,0.0,update
4,2017-01-01T12:02:36,kenneth94,29.0,62,122f1c6a-403c-2221-6ed1-b5caa08f11e0,NaN,NaN

In [4]:
df.dtypes

timestamp       object
username        object
temperature    float64
heartrate        int64
build           object
latest         float64
note            object
dtype: object

In [5]:
df.note.value_counts()

note
wake        16496
user        16416
interval    16274
sleep       16226
update      16213
test        16068
Name: count, dtype: int64

#### Let's remove all null values (including the note: n/a)

In [6]:
df = pd.read_csv("E:\My Environment\MCA Notes\Assignments\AI & ML Assignments\Assignment(Projects)\Pandas Exercise\iot_example_with_nulls.csv")

#### Test to see if we can use dropna

In [7]:
df.shape

(146397, 7)

In [8]:
df.dropna().shape

(46116, 7)

In [9]:
df.dropna(how='all', axis=1).shape

(146397, 7)

#### Test to see if we can drop columns

In [10]:
my_columns = list(df.columns)

In [11]:
my_columns

['timestamp',
 'username',
 'temperature',
 'heartrate',
 'build',
 'latest',
 'note']

In [12]:
list(df.dropna(thresh=int(df.shape[0] * .9), axis=1).columns)

['timestamp', 'username', 'heartrate']

#### I want to find all columns that have missing data

In [13]:
missing_info = list(df.columns[df.isnull().any()])

In [14]:
missing_info

['temperature', 'build', 'latest', 'note']

In [15]:
for col in missing_info:
    num_missing = df[df[col].isnull() == True].shape[0]
    print('number missing for column {}: {}'.format(col, 
                                                    num_missing))

number missing for column temperature: 32357
number missing for column build: 32350
number missing for column latest: 32298
number missing for column note: 48704

#### Can I easily substitute majority values in for missing data?

In [16]:
df.note.value_counts()

note
wake        16496
user        16416
interval    16274
sleep       16226
update      16213
test        16068
Name: count, dtype: int64

In [17]:
df.build.value_counts().head()

build
4e6a7805-8faa-2768-6ef6-eb3198b483ac    1
12aefc6b-272c-751e-6117-134ee73e2649    1
fd4049c3-2297-14ac-a27e-6da57129dd10    1
0bcfab8f-bc25-3f8f-8585-0614e1555fd1    1
b0de05dd-2860-abbb-8be6-f5c0e30ca063    1
Name: count, dtype: int64

In [18]:
df.latest.value_counts()

latest
0.0    75735
1.0    38364
Name: count, dtype: int64

In [19]:
df.latest = df.latest.fillna(0)

#### Have not yet addressed temperature missing values... Let's find a way to fill

In [20]:
df.username.value_counts().head()

username
esmith    45
zsmith    43
vsmith    41
ysmith    40
jsmith    37
Name: count, dtype: int64

In [21]:
df = df.set_index('timestamp')

In [22]:
df.head()

,username,temperature,heartrate,build,latest,note
timestamp,,,,,,
2017-01-01T12:00:23,michaelsmith,12.0,67,4e6a7805-8faa-2768-6ef6-eb3198b483ac,0.0,interval
2017-01-01T12:01:09,kharrison,6.0,78,7256b7b0-e502-f576-62ec-ed73533c9c84,0.0,wake
2017-01-01T12:01:34,smithadam,5.0,89,9226c94b-bb4b-a6c8-8e02-cb42b53e9c90,0.0,NaN
2017-01-01T12:02:09,eddierodriguez,28.0,76,NaN,0.0,update
2017-01-01T12:02:36,kenneth94,29.0,62,122f1c6a-403c-2221-6ed1-b5caa08f11e0,0.0,NaN

# Exercise-2(Scikit Learn Processing)
In this notebook, we'll use sklearn.preprocessing to do some scaling for us. If you need to prepare data for machine learning or feature extraction, the sklearn.preprocessing documentation has great examples.

## Import Libraries

In [23]:
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
import numpy as np
import pandas as pd
from datetime import datetime

In [24]:
hvac = pd.read_csv("E:\My Environment\MCA Notes\Assignments\AI & ML Assignments\Assignment(Projects)\Pandas Exercise\HVAC_with_nulls.csv")

#### Checking Data Quality

In [25]:
hvac.dtypes

Date           object
Time           object
TargetTemp    float64
ActualTemp      int64
System          int64
SystemAge     float64
BuildingID      int64
10            float64
dtype: object

In [26]:
hvac.shape

(8000, 8)

In [27]:
hvac.head()

     Date     Time  TargetTemp  ActualTemp  System  SystemAge  BuildingID  10
0  6/1/13  0:00:01        66.0          58      13       20.0           4 NaN
1  6/2/13  1:00:01         NaN          68       3       20.0          17 NaN
2  6/3/13  2:00:01        70.0          73      17       20.0          18 NaN
3  6/4/13  3:00:01        67.0          63       2        NaN          15 NaN
4  6/5/13  4:00:01        68.0          74      16        9.0           3 NaN

#### Impute missing values with mean

In [29]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [30]:
hvac_numeric = hvac[['TargetTemp', 'SystemAge']]

In [31]:
imp = imp.fit(hvac_numeric.loc[:10])

In [32]:
transformed = imp.fit_transform(hvac_numeric)

In [33]:
transformed

array([[66.        , 20.        ],
       [67.50773481, 20.        ],
       [70.        , 20.        ],
       ...,
       [67.50773481,  4.        ],
       [65.        , 23.        ],
       [66.        , 21.        ]])

In [34]:
hvac['TargetTemp'], hvac['SystemAge'] = transformed[:,0], transformed[:,1]

In [35]:
hvac.head()

     Date     Time  TargetTemp  ActualTemp  System  SystemAge  BuildingID  10
0  6/1/13  0:00:01   66.000000          58      13  20.000000           4 NaN
1  6/2/13  1:00:01   67.507735          68       3  20.000000          17 NaN
2  6/3/13  2:00:01   70.000000          73      17  20.000000          18 NaN
3  6/4/13  3:00:01   67.000000          63       2  15.386643          15 NaN
4  6/5/13  4:00:01   68.000000          74      16   9.000000           3 NaN

#### Scale temperature values

In [36]:
hvac['ScaledTemp'] = preprocessing.scale(hvac['ActualTemp'])

In [37]:
hvac['ScaledTemp'].head()

0   -1.293272
1    0.048732
2    0.719733
3   -0.622270
4    0.853934
Name: ScaledTemp, dtype: float64

#### Scale using a min and max scaler

In [38]:
min_max_scaler = preprocessing.MinMaxScaler()

In [39]:
temp_minmax = min_max_scaler.fit_transform(hvac[['ActualTemp']])

In [40]:
temp_minmax

array([[0.12],
       [0.52],
       [0.72],
       ...,
       [0.56],
       [0.32],
       [0.44]])

# Exercise-3(Case Study: Preparing Lobste.rs Stories for Machine Learning)
In this case study, we'll be preparing lobste.rs stories for machine learning. To do so, we need to extract features and clean up the messy parts of the data. We'll be using Pandas along with sklearn.preprocessing and fuzzywuzzy.

## Import Libraries

In [42]:
import pandas as pd
import requests
from collections import Counter
from sklearn import preprocessing

#### If you'd rather read from the API to get the latest, uncomment the details (and add comment to the final line)

In [44]:
stories = pd.read_json("E:\\My Environment\\MCA Notes\\Assignments\\AI & ML Assignments\\Assignment(Projects)\\Pandas Exercise\\all_lobsters.json")

In [45]:
stories.head()

,comment_count,comments_url,created_at,description,downvotes,last_updated,score,short_id_url,submitter_user,tags,title,upvotes,url
09zw7r,0,https://lobste.rs/s/09zw7r/edited_truth,2017-08-08 20:11:09,,0,2017-08-09T11:03:57.014269,3,https://lobste.rs/s/09zw7r,{'avatar_url': 'https://lobste.rs/avatars/trn-...,"[crypto, pdf]",The Edited Truth,3,https://eprint.iacr.org/2017/714.pdf
0bdne7,17,https://lobste.rs/s/0bdne7/rise_social_media_v...,2017-08-08 21:12:38,,9,2017-08-09T11:03:57.014269,-1,https://lobste.rs/s/0bdne7,{'avatar_url': 'https://lobste.rs/avatars/nkhu...,"[law, privacy]",The Rise of The Social Media Vigilante,8,https://medium.com/@nkhumphreys_89452/the-rise...
1bhbod,11,https://lobste.rs/s/1bhbod/tcl_misunderstood_a...,2017-04-30 20:28:52,<p>Did any language end up taking that â€œhighly...,0,2017-05-01T06:29:11.725518,17,https://lobste.rs/s/1bhbod,"{'is_moderator': False, 'is_admin': False, 'us...",[programming],Tcl the misunderstood - antirez,17,http://antirez.com/articoli/tclmisunderstood.html
1xkje1,0,https://lobste.rs/s/1xkje1/interview_4_jonatha...,2017-05-01 02:31:35,<p>Rustâ€™s own Jonathan Turner on his backgroun...,0,2017-05-01T06:29:11.725518,1,https://lobste.rs/s/1xkje1,"{'is_moderator': False, 'is_admin': False, 'us...","[audio, javascript, rust]",ðŸŽ¤ðŸŽ™ Interview 4 â€“ Jonathan Turner: Part 1/3,1,http://www.newrustacean.com/show_notes/intervi...
2dasvh,19,https://lobste.rs/s/2dasvh/return_hipster_pda,2017-08-08 14:25:29,,0,2017-08-09T11:03:56.287654,20,https://lobste.rs/s/2dasvh,{'created_at': '2017-01-19T14:56:50.000-06:00'...,[practices],The Return of the Hipster PDA,20,http://www.agilesysadmin.net/return-of-the-hip...

In [46]:
stories.dtypes

comment_count              int64
comments_url              object
created_at        datetime64[ns]
description               object
downvotes                  int64
last_updated              object
score                      int64
short_id_url              object
submitter_user            object
tags                      object
title                     object
upvotes                    int64
url                       object
dtype: object

#### Let's take a look at the submitter_user field, as it appears like a dict

In [47]:
stories.submitter_user.iloc[3]

{'is_moderator': False,
 'is_admin': False,
 'username': 'chriskrycho',
 'karma': 27,
 'avatar_url': 'https://secure.gravatar.com/avatar/c096ed07142659408dc6651f8320acd3?r=pg&d=identicon&s=100',
 'created_at': '2016-08-15T09:33:28.000-05:00',
 'about': "I'm a husband and father; a theologian, composer, poet, and essayist; a front end developer at [Olo](http://www.olo.com); a [Rust](https://www.rust-lang.org/en-US/) enthusiast host; and the host of the [Winning Slowly](http://www.winningslowly.org), [New Rustacean](http://www.newrustacean.com/), [Sap.py](http://www.sap-py.com), and [Run With Me](http://runwith.chriskrycho.com/) podcasts."}

In [48]:
user_df = stories['submitter_user'].apply(pd.Series)

In [49]:
user_df.head()

,avatar_url,created_at,is_admin,username,karma,is_moderator,about,github_username
09zw7r,https://lobste.rs/avatars/trn-100.png,2017-01-19T14:56:50.000-06:00,False,trn,429,False,,NaN
0bdne7,https://lobste.rs/avatars/nkhumphreys-100.png,2014-07-02T06:36:39.000-05:00,False,nkhumphreys,-1,False,Web developer and previously embedded C developer,NaN
1bhbod,https://secure.gravatar.com/avatar/85002353297...,2016-11-30T10:14:24.000-06:00,False,yumaikas,578,False,I blog infrequently at https://junglecoder.com...,NaN
1xkje1,https://secure.gravatar.com/avatar/c096ed07142...,2016-08-15T09:33:28.000-05:00,False,chriskrycho,27,False,"I'm a husband and father; a theologian, compos...",NaN
2dasvh,https://lobste.rs/avatars/trn-100.png,2017-01-19T14:56:50.000-06:00,False,trn,429,False,,NaN

#### Can we combine the user data without potential column overlap?

In [50]:
set(user_df.columns).intersection(stories.columns)

{'created_at'}

In [51]:
user_df = user_df.rename(columns={'created_at': 
                                  'user_created_at'})

In [52]:
stories = pd.concat([stories.drop(['submitter_user'], axis=1), 
                     user_df], axis=1)

In [53]:
stories.head()

,comment_count,comments_url,created_at,description,downvotes,last_updated,score,short_id_url,tags,title,upvotes,url,avatar_url,user_created_at,is_admin,username,karma,is_moderator,about,github_username
09zw7r,0,https://lobste.rs/s/09zw7r/edited_truth,2017-08-08 20:11:09,,0,2017-08-09T11:03:57.014269,3,https://lobste.rs/s/09zw7r,"[crypto, pdf]",The Edited Truth,3,https://eprint.iacr.org/2017/714.pdf,https://lobste.rs/avatars/trn-100.png,2017-01-19T14:56:50.000-06:00,False,trn,429,False,,NaN
0bdne7,17,https://lobste.rs/s/0bdne7/rise_social_media_v...,2017-08-08 21:12:38,,9,2017-08-09T11:03:57.014269,-1,https://lobste.rs/s/0bdne7,"[law, privacy]",The Rise of The Social Media Vigilante,8,https://medium.com/@nkhumphreys_89452/the-rise...,https://lobste.rs/avatars/nkhumphreys-100.png,2014-07-02T06:36:39.000-05:00,False,nkhumphreys,-1,False,Web developer and previously embedded C developer,NaN
1bhbod,11,https://lobste.rs/s/1bhbod/tcl_misunderstood_a...,2017-04-30 20:28:52,<p>Did any language end up taking that â€œhighly...,0,2017-05-01T06:29:11.725518,17,https://lobste.rs/s/1bhbod,[programming],Tcl the misunderstood - antirez,17,http://antirez.com/articoli/tclmisunderstood.html,https://secure.gravatar.com/avatar/85002353297...,2016-11-30T10:14:24.000-06:00,False,yumaikas,578,False,I blog infrequently at https://junglecoder.com...,NaN
1xkje1,0,https://lobste.rs/s/1xkje1/interview_4_jonatha...,2017-05-01 02:31:35,<p>Rustâ€™s own Jonathan Turner on his backgroun...,0,2017-05-01T06:29:11.725518,1,https://lobste.rs/s/1xkje1,"[audio, javascript, rust]",ðŸŽ¤ðŸŽ™ Interview 4 â€“ Jonathan Turner: Part 1/3,1,http://www.newrustacean.com/show_notes/intervi...,https://secure.gravatar.com/avatar/c096ed07142...,2016-08-15T09:33:28.000-05:00,False,chriskrycho,27,False,"I'm a husband and father; a theologian, compos...",NaN
2dasvh,19,https://lobste.rs/s/2dasvh/return_hipster_pda,2017-08-08 14:25:29,,0,2017-08-09T11:03:56.287654,20,https://lobste.rs/s/2dasvh,[practices],The Return of the Hipster PDA,20,http://www.agilesysadmin.net/return-of-the-hip...,https://lobste.rs/avatars/trn-100.png,2017-01-19T14:56:50.000-06:00,False,trn,429,False,,NaN

#### Let's check for nulls

In [54]:
stories.shape

(74, 20)

In [55]:
stories.dropna().shape

(8, 20)

In [57]:
stories.dropna(thresh=10, axis=1).shape

(74, 19)

#### Let's make the tags easier to use by having them as features in the columns.

In [58]:
tag_df = stories.tags.apply(pd.Series)

In [59]:
tag_df.head()

                  0           1     2    3    4
09zw7r       crypto         pdf   NaN  NaN  NaN
0bdne7          law     privacy   NaN  NaN  NaN
1bhbod  programming         NaN   NaN  NaN  NaN
1xkje1        audio  javascript  rust  NaN  NaN
2dasvh    practices         NaN   NaN  NaN  NaN

In [60]:
# what are our unique tags?

pd.unique(tag_df.values.ravel())

array(['crypto', 'pdf', nan, 'law', 'privacy', 'programming', 'audio',
       'javascript', 'rust', 'practices', 'ruby', 'devops', 'web',
       'hardware', 'science', 'reversing', 'security', 'openbsd',
       'windows', 'design', 'compilers', 'haskell', 'c++', 'assembly',
       'games', 'math', 'release', 'event', 'netbsd', 'unix', 'c',
       'linux', 'testing', 'lua', 'job', 'video', 'philosophy', 'android',
       'networking', 'erlang', 'emacs', 'historical', 'browsers',
       'person', 'culture', 'java', 'go', 'book', 'css', 'debugging',
       'education', 'art', 'compsci', 'databases'], dtype=object)

In [61]:
set(tag_df.values.ravel())

{'android',
 'art',
 'assembly',
 'audio',
 'book',
 'browsers',
 'c',
 'c++',
 'compilers',
 'compsci',
 'crypto',
 'css',
 'culture',
 'databases',
 'debugging',
 'design',
 'devops',
 'education',
 'emacs',
 'erlang',
 'event',
 'games',
 'go',
 'hardware',
 'haskell',
 'historical',
 'java',
 'javascript',
 'job',
 'law',
 'linux',
 'lua',
 'math',
 nan,
 'netbsd',
 'networking',
 'openbsd',
 'pdf',
 'person',
 'philosophy',
 'practices',
 'privacy',
 'programming',
 'release',
 'reversing',
 'ruby',
 'rust',
 'science',
 'security',
 'testing',
 'unix',
 'video',
 'web',
 'windows'}

In [62]:
len(pd.unique(tag_df.values.ravel()))

54

In [63]:
# most common tags

Counter(tag_df.values.ravel()).most_common(5)

[(nan, 231),
 ('programming', 13),
 ('hardware', 10),
 ('security', 10),
 ('practices', 8)]

#### Let's create a dummy df with our tags

In [66]:
tag_df.head()

                  0           1     2    3    4
09zw7r       crypto         pdf   NaN  NaN  NaN
0bdne7          law     privacy   NaN  NaN  NaN
1bhbod  programming         NaN   NaN  NaN  NaN
1xkje1        audio  javascript  rust  NaN  NaN
2dasvh    practices         NaN   NaN  NaN  NaN

#### Now we can add it back to our stories DataFrame

In [67]:
stories = pd.concat([stories.drop('tags', axis=1), 
                     tag_df], axis=1)

In [68]:
stories.head()

,comment_count,comments_url,created_at,description,downvotes,last_updated,score,short_id_url,title,upvotes,...,username,karma,is_moderator,about,github_username,0,1,2,3,4
09zw7r,0,https://lobste.rs/s/09zw7r/edited_truth,2017-08-08 20:11:09,,0,2017-08-09T11:03:57.014269,3,https://lobste.rs/s/09zw7r,The Edited Truth,3,...,trn,429,False,,NaN,crypto,pdf,NaN,NaN,NaN
0bdne7,17,https://lobste.rs/s/0bdne7/rise_social_media_v...,2017-08-08 21:12:38,,9,2017-08-09T11:03:57.014269,-1,https://lobste.rs/s/0bdne7,The Rise of The Social Media Vigilante,8,...,nkhumphreys,-1,False,Web developer and previously embedded C developer,NaN,law,privacy,NaN,NaN,NaN
1bhbod,11,https://lobste.rs/s/1bhbod/tcl_misunderstood_a...,2017-04-30 20:28:52,<p>Did any language end up taking that â€œhighly...,0,2017-05-01T06:29:11.725518,17,https://lobste.rs/s/1bhbod,Tcl the misunderstood - antirez,17,...,yumaikas,578,False,I blog infrequently at https://junglecoder.com...,NaN,programming,NaN,NaN,NaN,NaN
1xkje1,0,https://lobste.rs/s/1xkje1/interview_4_jonatha...,2017-05-01 02:31:35,<p>Rustâ€™s own Jonathan Turner on his backgroun...,0,2017-05-01T06:29:11.725518,1,https://lobste.rs/s/1xkje1,ðŸŽ¤ðŸŽ™ Interview 4 â€“ Jonathan Turner: Part 1/3,1,...,chriskrycho,27,False,"I'm a husband and father; a theologian, compos...",NaN,audio,javascript,rust,NaN,NaN
2dasvh,19,https://lobste.rs/s/2dasvh/return_hipster_pda,2017-08-08 14:25:29,,0,2017-08-09T11:03:56.287654,20,https://lobste.rs/s/2dasvh,The Return of the Hipster PDA,20,...,trn,429,False,,NaN,practices,NaN,NaN,NaN,NaN

#### Another potentially useful feature is the post times...

In [70]:
stories['created_hour'] = stories.created_at.map(
    lambda x: x.hour)

In [71]:
stories['created_dow'] = stories.created_at.map(
    lambda x: x.weekday())

#### Let's analyze some of the correlations in our features so far...

In [72]:
stories[['created_hour', 'score']].corr()

              created_hour     score
created_hour      1.000000  0.253917
score             0.253917  1.000000

In [ ]:
stories[['created_dow', 'score']].corr()

In [74]:
stories[['karma', 'score']].corr()

          karma     score
karma  1.000000 -0.061921
score -0.061921  1.000000

In [75]:
stories[['comment_count', 'score']].corr()

               comment_count     score
comment_count       1.000000  0.637632
score               0.637632  1.000000

#### We might also want/need to normalize scores. We can use a Scaler / MinMaxScaler or Normalizer

In [77]:
normed_score = preprocessing.normalize(stories[['score']])

In [78]:
normed_score[:5]

array([[ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.]])

#### hmm... maybe a min-max scaler works better for our needs!

In [79]:
scaler = preprocessing.MinMaxScaler()

In [80]:
scaled_score = scaler.fit_transform(stories[['score']])

In [81]:
scaled_score[:5]

array([[0.07272727],
       [0.        ],
       [0.32727273],
       [0.03636364],
       [0.38181818]])

In [91]:
stories['scaled_score'] = scaled_score[:,0]

In [95]:
stories.head()

,comment_count,comments_url,created_at,description,downvotes,last_updated,score,short_id_url,title,upvotes,...,about,github_username,0,1,2,3,4,created_hour,created_dow,scaled_score
09zw7r,0,https://lobste.rs/s/09zw7r/edited_truth,2017-08-08 20:11:09,,0,2017-08-09T11:03:57.014269,3,https://lobste.rs/s/09zw7r,The Edited Truth,3,...,,NaN,crypto,pdf,NaN,NaN,NaN,20,1,0.072727
0bdne7,17,https://lobste.rs/s/0bdne7/rise_social_media_v...,2017-08-08 21:12:38,,9,2017-08-09T11:03:57.014269,-1,https://lobste.rs/s/0bdne7,The Rise of The Social Media Vigilante,8,...,Web developer and previously embedded C developer,NaN,law,privacy,NaN,NaN,NaN,21,1,0.000000
1bhbod,11,https://lobste.rs/s/1bhbod/tcl_misunderstood_a...,2017-04-30 20:28:52,<p>Did any language end up taking that â€œhighly...,0,2017-05-01T06:29:11.725518,17,https://lobste.rs/s/1bhbod,Tcl the misunderstood - antirez,17,...,I blog infrequently at https://junglecoder.com...,NaN,programming,NaN,NaN,NaN,NaN,20,6,0.327273
1xkje1,0,https://lobste.rs/s/1xkje1/interview_4_jonatha...,2017-05-01 02:31:35,<p>Rustâ€™s own Jonathan Turner on his backgroun...,0,2017-05-01T06:29:11.725518,1,https://lobste.rs/s/1xkje1,ðŸŽ¤ðŸŽ™ Interview 4 â€“ Jonathan Turner: Part 1/3,1,...,"I'm a husband and father; a theologian, compos...",NaN,audio,javascript,rust,NaN,NaN,2,0,0.036364
2dasvh,19,https://lobste.rs/s/2dasvh/return_hipster_pda,2017-08-08 14:25:29,,0,2017-08-09T11:03:56.287654,20,https://lobste.rs/s/2dasvh,The Return of the Hipster PDA,20,...,,NaN,practices,NaN,NaN,NaN,NaN,14,1,0.381818